*.out
.vscode
Project 1/Proj1.exe
Project 1/providedTests/*
Project 1/runProvTestNum.bash
Project 1/runAllPTests.sh
Project 1/generateSubmission.sh
Project 2/Branching.exe
Project 2/testGen.exe
Project 2/proj2_sweatt.tar
*.exe
